.job-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #202020;
  padding: 25px;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.job-logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.company-logo {
  height: 53px;
  width: 53px;
}
.role-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 8px;
}
.job-title {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
  margin-bottom: 0px;
}
.rating-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
}
.rating-icon {
  color: yellow;
  margin-right: 5px;
}
.rating {
  color: #ffffff;
  font-size: 12px;
  font-family: 'Roboto';
}
.sal-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.second-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.second-container-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
}
.location-icon {
  height: 50px;
  color: #ffffff;
}
.location {
  color: #ffffff;
  font-size: 12px;
  font-family: 'Roboto';
  margin-left: 5px;
}
.salary-pack {
  color: #ffffff;
  font-size: 17px;
  font-family: 'Roboto';
}
.bio-contain {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.description-head {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
}
.description {
  color: #f8fafc;
  font-size: 14px;
  font-family: 'Roboto';
}
