.item-1 {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.check-label {
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto';
  margin-left: 5px;
}
